<!-- Nav Start-->
<!-- <header class="agency nav-abs custom-scroll">
    <div class="container">
        <div class="row">
            <div class="col">
                <nav>
                    <a href="#" class="logo-light d-inline-block m-r-auto"><img src="assets/images/logo/movement-matters-logo.png" alt="" class="img-fluid"></a>
                    <app-menu></app-menu>
                </nav>
            </div>
        </div>
    </div>
</header> -->

<!-- <div class="main-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <nav>
                    <a href="#" class="logo-light d-inline-block m-r-auto"><img
                            src="assets/images/logo/movement-matters-logo.png" alt="" class="img-fluid"></a>
                </nav>
            </div>
        </div>
    </div>
</div>
<header class="agency nav-abs custom-scroll">
    <div class="min-header">
        <div class="container">
            <div class="row">
                    <app-menu></app-menu>
            </div>
        </div>
    </div>
</header> -->

<header class="header-main">
    <div class="container">
        <div class="row">
            <div class="col-md-3 head-logo">
                <a href="#" class="logo-light d-inline-block m-r-auto"><img
                        src="assets/images/logo/movement-matters-logo.png" alt="" class="img-fluid"></a>
            </div>
            <div class="col-md-9 row head-cont">
                <div class="col-md-4 d-flex sec-head">
                    <div class="icon-head">
                        <span><i class="fas fa-phone-alt"></i></span>
                    </div>
                    <div class="text-head">
                        <a href="" class="text-a">+91 9717 839766</a>
                        <p class="text-p">Book an Appointment</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex sec-head">
                    <div class="icon-head">
                        <span><i class="fas fa-envelope"></i></span>
                    </div>
                    <div class="text-head">
                        <a href="" class="text-a">wellness@movementmatters.in</a>
                        <p class="text-p">9:00 AM - 6:00 Pm (Mon - Fri)</p>
                    </div>
                </div>
                <div class="col-md-4 d-flex sec-head">
                    <div class="icon-head">
                        <span><i class="fas fa-map-marker-alt"></i></span>
                    </div>
                    <div class="text-head">
                        <a href="" class="text-a">Studio Address</a>
                        <p class="text-p">Sector - 44, Noida 201310</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark custom-scroll">
        <div class="container nav-sec">
            <!-- <a class="navbar-brand" href="#">Logo</a> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <div class="navbar-nav">
                    <div class="nav-item"  [class.active]="currentRoute ==='/home'">
                        <a class="nav-link" href="#/home">Home</a>
                    </div>
                    <div class="nav-item" [class.active]="currentRoute =='/discover'">
                        <a class="nav-link" href="#/discover">Discover</a>
                    </div>
                    <div  class="nav-item" [class.active]="currentRoute ==='/get-care'">
                        <a class="nav-link" href="#/get-care">Individual Wellness</a>
                    </div>
                    <div class="nav-item" [class.active]="currentRoute ==='/organisations'">
                        <a class="nav-link" href="#/organisations">Corporate Wellness</a>
                    </div>
                    <div class="nav-item" [class.active]="currentRoute ==='/about-us'">
                        <a class="nav-link" href="#/about-us">About Us</a>
                    </div>
                    <div class="nav-item" [class.active]="currentRoute ==='/contact-us'">
                        <a class="nav-link" href="#/contact-us">Contact Us</a>
                    </div>
                    <div class="nav-item primary-item" [class.active]="currentRoute ==='/request-a-demo'">
                        <a class="btn primary-btn" href="#/request-a-demo">Book an Appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<!-- Nav end-->