<app-agency-nav></app-agency-nav>
<section class="p-t-150">
    <section class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-angle-double-right"></i>Discover</a>
                                </li>
                                <li><a href="#" class="active">
                                    <i class="fa fa-angle-double-right"></i> Frequently Asked
                                    Questions</a>
                                </li>
                            </ul>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--accordion1 section start-->
<section class="saas1 faq testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title2 title-inner m-b-50">
                    <div class="main-title">
                        <!-- <h3 class="letter-space text-uppercase main-text m-b-5">Quick Answers </h3> -->
                        <h2 class="font-black main-text m-b-0">Frequently Asked Questions </h2>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="collection-collapse-block top_filter border-1 open">
                    <h3 class="collapse-block-title">Choose a topic</h3>
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <ul class="category-list">
                                <li><a>Getting started (General)</a></li>
                                <li class="active"><a>Payment & Subscriptions</a></li>
                                <li><a>Corporate Organisations </a></li>
                                <li><a>Group & Individuals</a></li>
                                <li><a>Price & Discounts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <p class="text-center font-black p-10 m-t-20">
                    Have more questions?
                    <a routerLink="/contact-us" class="font-primary">Contact Us</a>
                </p>
            </div>
            <div class="col-md-8">
                <div class="faq-block">
                    <div class="w-100">
                        <ngb-accordion [closeOthers]="true" class="accordion faq" activeIds="static-1">
                            <ngb-panel id="static-1" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>
                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-2" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-3" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-4" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-5" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-6" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-7" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                            <ngb-panel id="static-8" class="card">
                                <ng-template ngbPanelTitle class="card-header">
                                    <div class="collapsed" data-toggle="collapse" data-target="#collapse1"
                                        aria-expanded="false">
                                        <a>
                                            <div class="fa fa-angle-right rotate"></div>
                                        </a>
                                        Do I need to make a payment?
                                    </div>
                                </ng-template>

                                <ng-template ngbPanelContent class="card-body">
                                    No one cares about products. People care about ideas. Is a
                                    product an idea? Noup. Is a brand? A good one is.
                                </ng-template>
                            </ngb-panel>
                        </ngb-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--accordion1 section end-->

<app-agency-footer></app-agency-footer>
<app-agency-copyright></app-agency-copyright>