<app-agency-nav></app-agency-nav>
<section class="section1">
    <section class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#" class="active">
                                        <i class="fa fa-angle-double-right"></i> Individual</a>
                                </li>
                            </ul>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- <section class="p-t-150 pb-3">
    <section class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#" class="active">
                                        <i class="fa fa-angle-double-right"></i> Individual</a>
                                </li>
                            </ul>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section> -->

<!--header start-->
<!-- <div class="agency">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div>
                <div>
                    <div class="header-text m-b-30 m-t-50">
                        <h1><span class=" text-black bold-text">Life is filled with
                                uncertainty, complexity,<br />
                                and ambiguity</span> </h1>
                    </div>
                    <div class="header-sub-text  m-b-20">
                        <p>At Movement Matters, we aim to help you feel motivated
                            and at your best. Find your care prover and learn to
                            cope with life’s challenes.
                        </p>
                    </div>
                    <div class="saas1 subscribe" style="background: transparent">
                        <div class="subscribe-input">
                            <form>
                                <input id="useremail" type="email" placeholder="Choose an Issue" required="">
                                <input id="submit" type="submit" value="Get Care">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/agency/slider/individual_img.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div> -->
<div class="agency">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="center-text">
                <div>
                    <div class="header-text">
                        <h1 class="text-black">
                            <span class="bold-text">Find the right support. without the wait.
                            </span>
                        </h1>
                        <p>Improve your mental health at home, at work and beyond with effective and affordable
                            solutions built for individuals and organisation that care
                        </p>
                    </div>
                    <div class="saas1 subscribe  mt-4" style="background: transparent">
                        <div class="subscribe-input">
                            <form>
                                <select id="services" name="services" class="service-drop">
                                    <option value="Choose an service"> <i class="fa fa-angle-down"></i>Choose an Service </option>
                                    <option value="service1">service1</option>
                                    <option value="service2">service2</option>
                                    <option value="service3">service3</option>
                                    <option value="service4">service4</option>
                                </select>
                                <input id="submit" type="submit" value="Learn More">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <i class="fa fa-angle-down"></i>
            <img src="assets/images/agency/slider/individual_img.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<!--header end-->

<!--process start-->
<div class="process">
    <div class="container p-t-100 p-b-100">
        <div class="row">
            <div class="col-md-4">
                <div class="format-head-text">
                    <h2 class="about-font-header">The Process </h2>
                    <h3>
                        The Road map to wellness
                    </h3>
                </div>
            </div>
            <div class="col-md-8 text-center">
                <div class="row">
                    <div class="col-md-4 dummy-text">
                        <img src="../../assets/images/1.png" />
                        <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                    <div class="col-md-4 dummy-text">
                        <img src="../../assets/images/1.png" />
                        <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

                    </div>
                    <div class="col-md-4 dummy-text">
                        <img src="../../assets/images/1.png" />
                        <p class="mt-2">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--process end-->

<!--our Interventions section start-->
<div class="interventions">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-black main-text m-b-0 ">Our Interventions </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="event portfolio-section zoom-gallery set-relative mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12 filter-section">
                <div class="filter-container isotopeFilters">
                    <ul class="list-inline filter">
                        <li [ngClass]="{active : activeFilter == 'somaticMovementTherapy'}">
                            <a href="javascript:void(0)" (click)="filterImg('somaticMovementTherapy')"
                                data-filter=".somaticMovementTherapy">Somatic Movement Therapy
                            </a>
                        </li>
                        <li [ngClass]="{active : activeFilter == 'expressiveMovementTherapy'}">
                            <a href="javascript:void(0)" (click)="filterImg('expressiveMovementTherapy')"
                                data-filter=".expressiveMovementTherapy">Expressive Movement Therapy
                            </a>
                        </li>
                        <li [ngClass]="{active : activeFilter== 'postureAudit'}">
                            <a href="javascript:void(0)" (click)="filterImg('postureAudit')"
                                data-filter=".postureAudit">Posture Audit
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="activeFilter == 'somaticMovementTherapy'">
            <div class="row">
                <div class="col-md-12 event-tab">
                    <div class="col-md-6">
                        <div class="header-sub-text m-b-30">
                            <p>Movement matters is a experienced a long period of distress personally, Mohita is the
                                best example of how movement therapy helps mind, body and soul to heal from past
                                injuries.
                            </p><br><br>
                            <p> Movement matters
                                is a experienced a long period of distress personally, Mohita is the best example of how
                                movement therapy helps mind, body and soul to heal from past injuries. 
                            </p>
                        </div>
                        <div class="agency-new-box1">
                            <div class="row">
                                <div class="col-md-3">
                                    <a class=" btn btn-default care-btn text-white">94%</a>
                                    <!-- <div class="circle-wrap">
                                        <div class="circle">
                                            <div class="mask full">
                                                <div class="fill"></div>
                                            </div>
                                            <div class="mask half">
                                                <div class="fill"></div>
                                            </div>
                                            <div class="inside-circle"> 95% </div>
                                        </div>
                                    </div> -->
                                </div>
                                <div class="col-md-9 care-box-color">
                                    <p>94% of employees say they would stay at a company longer if it invested in their
                                        learning and development.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-img">
                            <img src="../../assets/images/agency/slider/org_img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeFilter == 'expressiveMovementTherapy'">
            <div class="row">
                <div class="col-md-12 event-tab">
                    <div class="col-md-6">
                        <div class="event-img">
                            <img src="../../assets/images/agency/slider/org_img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="header-sub-text m-b-30">
                            <p>Movement matters is a experienced a long period of distress personally, Mohita is the
                                best example of how movement therapy helps mind, body and soul to heal from past
                                injuries. She also believes that with a good physical foundation, emotional and
                                intellectual expression too become richer emotional and intellectual.
                            </p><br><br>
                            <p> Movement matters
                                is a experienced a long period of distress personally, Mohita is the best example of how
                                movement therapy helps mind, body and soul to heal from past injuries. She also believes
                                that with a good physical foundation, emotional and intellectual expression too become
                                richer emotional and intellectual.
                            </p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class=" btn btn-default primary-btn radius-0 text-white">Request a demo</a>
                                </li>
                                <li>
                                    <a class="btn btn-default radius-0 btn-white ">Watch Video</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="activeFilter == 'postureAudit'">
            <div class="row">
                <div class="col-md-12 event-tab">
                    <div class="col-md-6">
                        <div class="header-sub-text m-b-30">
                            <p>Movement matters is a experienced a long period of distress personally, Mohita is the
                                best example of how movement therapy helps mind, body and soul to heal from past
                                injuries. She also believes that with a good physical foundation, emotional and
                                intellectual expression too become richer emotional and intellectual.
                            </p><br><br>
                            <p> Movement matters
                                is a experienced a long period of distress personally, Mohita is the best example of how
                                movement therapy helps mind, body and soul to heal from past injuries. She also believes
                                that with a good physical foundation, emotional and intellectual expression too become
                                richer emotional and intellectual.
                            </p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class=" btn btn-default primary-btn radius-0 text-white">Request a demo</a>
                                </li>
                                <li>
                                    <a class="btn btn-default radius-0 btn-white ">Watch Video</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="event-img">
                            <img src="../../assets/images/agency/slider/org_img.png" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--our Interventions section end-->

<!--agency content start-->
<div class="care">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-black main-text m-b-0 ">Get Care</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="agency agency-content about-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="collection-collapse-block top_filter border-1 open">
                    <h3 class="collapse-block-title">Choose a topic</h3>
                    <div class="collection-collapse-block-content">
                        <div class="collection-brand-filter">
                            <ul class="category-list">
                                <li><a>Getting started (General)</a></li>
                                <li class="active"><a>Payment & Subscriptions</a></li>
                                <li><a>Corporate Organisations </a></li>
                                <li><a>Corporate Organisations </a></li>
                                <li><a>Corporate Organisations </a></li>
                                <li><a>Group & Individuals</a></li>
                                <li><a>Price & Discounts</a></li>
                                <li><a>Price & Discounts</a></li>
                                <li><a>Price & Discounts</a></li>
                                <li><a>Price & Discounts</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-md-8">
                <p>em ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusm od tempor incididunt
                    ut labore et dolore magna Loraliqua ut enim adminim veni am for humanity for
                    savings anything for your future.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusm od tempor incididunt
                    ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                    savings anything for your future.
                </p>
                <p class="p-t-10">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusm od tempor incididunt
                    ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                    savings anything for your future.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusm od tempor incididunt
                    ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                    savings anything for your future.
                </p>
                <div class="agency-header-center-container p-t-10">
                    <div class="borders"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                        do eiusm od tempor incididunt
                        ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                        savings anything for your future.
                    </p>
                </div>
                <!-- <div class="agency-new-box"
                    [ngStyle]="{'background-image': 'url(../../assets/images/agency/slider/org_background.png)'}"> -->
                <div class="agency-new-box">
                    <div class="row">
                        <div class="col-md-6 box-color">
                            <h3>Somatic <br>
                                Movement Therapy
                            </h3>
                        </div>
                        <div class="col-md-6">
                            <a class=" btn btn-default pink-btn text-white">Book Appointment</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--agency content end-->

<!--agency counter start-->
<app-agency-counter></app-agency-counter>
<!--agency counter end-->

<!--dummy start-->
<section class="dummy">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="header-text m-b-30 m-t-50">
                    <h1>Dummy Text</h1>
                </div>
                <div class="header-sub-text1  m-b-20">
                    <p> Find your care prover and learn to
                        cope with life’s challenes.
                    </p>
                </div>
            </div>
            <div class="col-md-8">
                <div class="dummy-sec-text">
                    <div class="container dummy-con">
                        <div class="format-head-text">
                            <p class="text-justify">
                                Movement matters is a experienced a long period of distress personally, Mohita is the
                                best example of how movement therapy helps mind, body and soul to heal from past
                                injuries. She also believes that with a good physical foundation.
                                <br><br>Movement matters is a
                                experienced a long period of distress personally, Mohita is the best example of how
                                movement therapy helps mind, body and soul to heal from past injuries. She also believes
                                that with a good physical foundation, emotional and intellectual <br><br>Movement
                                matters is
                                a experienced a long period of distress personally, Mohita is the best example of how
                                movement therapy helps mind, body and soul to heal from past injuries. She also believes
                                that with a good physical foundation, emotional and intellectual expression too become
                                richer emotional and intellectual.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--dummy end-->

<!-- <section class="saas1 testimonial videos testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="center-content">
                    <div class="video w-100">
                        <a class="button center-content">
                            <img src="assets/images/saas1/testimonial-video-icon.png"
                                (click)="openVerticallyCentered(content)" alt="video" class="img-fluid">
                            <ng-template #content let-modal>
                                <div class="modal-body video-modal">
                                    <button type="button" class="close" aria-label="Close"
                                        (click)="modal.dismiss('Cross click')">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <iframe class="mfp-iframe" frameborder="0" allowfullscreen=""
                                        src="//www.youtube.com/embed/dNIfsv1rKJo?autoplay=1"></iframe>
                                </div>
                            </ng-template>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="testimonial-slider">
                    <owl-carousel-o [options]="testimonialcarouselOptions1" class="testimonial-carousel ">
                        <ng-container *ngFor="let slide of testimonialcarousel1">
                            <ng-template carouselSlide>
                                <div class="testimonial">
                                    <div class="testimonial-box">
                                        <img [src]="slide.quote" alt="dot">
                                        <h6>{{slide.review}}</h6>
                                    </div>
                                </div>
                                <div class="testi-profile">
                                    <div class="media">
                                        <img class="" [src]="slide.userImg" alt="profile-testimonial">
                                        <div class="media-body">
                                            <h5 class="mt-0">{{slide.userName}}</h5>
                                            <h6>{{slide.position}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section> -->

<app-agency-footer></app-agency-footer>
<app-agency-copyright></app-agency-copyright>