<!-- <section class="event speaker set-relative" id="speaker">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary borders text-center text-capitalize">
                            Our team
                        </h2>
                        <div class="sub-title m-t-20">
                            <p class="text-center">
                                People are what make the difference at Movement Matters. Meet the team whose mission is to help each person find "hapiness through posture" so each becomes Movement Ambassador or a "Movementee"
                            </p>
                        </div>
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/team/mohita.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Vicky Smith</h5>
                        <h6 class="post text-center ">UI/UX Designer - Little Big</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/team/mohita.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/team/mohita1.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="employee">
                        <h5 class="e-name text-center">Mark Tucker</h5>
                        <h6 class="post text-center ">App Developer - Jumpster</h6>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 speker-container">
                <div class="text-center">
                    <div class="team-img">
                        <img src="assets/images/team/mohita1.png" alt="" class="img-fluid">
                        <div class="overlay"></div>
                        <div class="social">
                            <ul>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-facebook center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-twitter center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-google center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <i class="fa fa-globe center-content" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div> 
                    <div class="employee">
                        <h5 class="e-name text-center">Sam Rowling</h5>
                        <h6 class="post text-center ">Team Leader - otstrab</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->


<section class="team-us">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 team-cont mt-4 ">
                <div class="team-title">
                    <h2>Team</h2>
                    <p class="mt-2">People are what make the difference at movement matters</p>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-12 filter-section">
                        <div class="filter-container isotopeFilters">
                            <ul class="list-inline filter">
                                <li [ngClass]="{active : activeFilter == 'ourFacilitators'}">
                                    <a href="javascript:void(0)" (click)="filterImg('ourFacilitators')"
                                        data-filter=".ourFacilitators">Our Facilitators
                                    </a>
                                </li>
                                <li [ngClass]="{active : activeFilter == 'seniorLeadership'}">
                                    <a href="javascript:void(0)" (click)="filterImg('seniorLeadership')"
                                        data-filter=".seniorLeadership">Senior Leadership
                                    </a>
                                </li>
                                <li [ngClass]="{active : activeFilter== 'communicationsAduit'}">
                                    <a href="javascript:void(0)" (click)="filterImg('communicationsAduit')"
                                        data-filter=".communicationsAduit">Communications
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeFilter == 'ourFacilitators'">
                    <div class="row event-tab">
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeFilter == 'seniorLeadership'">
                    <div class="row event-tab">
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeFilter == 'communicationsAduit'">
                    <div class="row event-tab">
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="header-sub-text m-b-30">
                                <div class="event-img">
                                    <img src="../../assets/images/team/mohita1.png" alt="" class="img-fluid">
                                </div>
                                <h2>Mohita Singh</h2>
                                <p>Movement Facilitator</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>