.letter-space
{
  letter-spacing: 3px;
}
.font-black{
    color: black;
    font-weight: 400;
}
.img-fluid
{
    padding: 60px;
}
.font-primary
{
    font-weight: 600 !important;
}
.contact-info
{
    border-radius: 15px;
    padding: 20px;
    background-color: #f0feff;
}
.contact-form
{
    padding: 30px 50px;
    border-radius: 15px;
    box-shadow: 3px 3px 10px silver;
}
.contact-icon
{
    text-align: center;
    padding: 50px 20px;
}