<app-agency-nav></app-agency-nav>
<section class="p-t-150">
    <section class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#" class="active"><i class="fa fa-angle-double-right"></i> Contact Us</a>
                                </li>
                            </ul>
                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<!-- <section class=" p-b-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title title2 title-inner">
                    <div class="main-title">
                        <h2 class="font-primary text-center main-text m-b-20">Have a coffee with us ? </h2>
                    </div>
                    <div class="format-sub-text m-b-10">
                        <p class="p-light about-para">
                            Do you have a question, concern , idea , feedabck or problem? Take a look at out
                            <a>Frequently Asked Questions</a>
                            for some quick answers.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="music bg-footer pt-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4  p-r-0 ">
                    <div class="contact-info">
                        <div class="col-sm-12 p-t-30">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="contact-icon">
                                        <h2 class="contact-heading font-primary"> <i class="fa fa-map-marker"></i></h2>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="contact-details">
                                        <h4 class="contact-heading  ">Movement Matters</h4>
                                        <h6 class="contact-sub-text "> B-89, B Block, Sector 44, </h6>
                                        <h6 class="contact-sub-text ">Noida, Uttar Pradesh 201301.</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 p-t-20">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="contact-icon">
                                        <h2 class="contact-heading font-primary"> <i class="fa fa-phone"></i></h2>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="contact-details">
                                        <h4 class="contact-heading  ">Phone Numbers</h4>
                                        <h6 class="contact-sub-text "> +91 995 347 2746 </h6>
                                        <h6 class="contact-sub-text "> +91 120 420 6891</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 p-t-20">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="contact-icon">
                                        <h2 class="contact-heading font-primary"> <i class="fa fa-envelope"></i></h2>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="contact-details">
                                        <h4 class="contact-heading  ">Email</h4>
                                        <h6 class="contact-sub-text "> wellness@movementmatters.in </h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 p-t-20 p-b-20">
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="contact-icon">
                                        <h2 class="contact-heading font-primary"> <i class="fa fa-calendar"></i></h2>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="contact-details">
                                        <h4 class="contact-heading  ">Consultation Hours</h4>
                                        <h6 class="contact-sub-text "> Monday to Saturday </h6>
                                        <h6 class="contact-sub-text "> 10 AM - 6 PM</h6>
                                    </div>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                <div class="col-md-8 p-l-0 p">
                    <div class="contact-form">
                    <div class="form form-footer p-t-10">
                        <div class="row">
                            <div class="col-sm-12">
                                <h2 class="font-primary"> Get in touch</h2>
                                <p class="font-primary p-t-20 p-b-20">Have any questions? we'd love to hear from you
                                </p>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group ">
                                    <input type="text" class="bg-light-inner" placeholder="first name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="bg-light-inner" placeholder="last name">
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="bg-light-inner" placeholder="your email">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" class="bg-light-inner" rows="6"
                                        placeholder="your message"></textarea>
                                </div>
                            </div>
                            <div class="booking">
                                <a class="btn btn-default primary-btn radius-0">send</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col-xl-12 col-md-12 p-r-0 p-t-30 map">
                <div class="iframe-container">
                    <iframe width="92%" height="400px" style="margin-left: 3% ;border: 0;"
                        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3504.3957386704897!2d77.334872!3d28.557877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29d8d99be135993a!2sMovement%20Matters!5e0!3m2!1sen!2sin!4v1654364208477!5m2!1sen!2sin"></iframe>
                </div>
            </div>

        </div>
    </section>

</section> -->
 
<section class="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 contact-container  m-t-40 ">
                <div class="main-title">
                    <h2 class="text-capitalize m-b-20 ">How can we help you today? </h2>
                </div>
                <div class="sub-title">
                    <p class="">Do you have a question, concern, idea, feedback, or problem? Take a look at
                        our frequently asked questions for some quick answers.</p>
                </div>
                <div class="link-horizontal mt-4 mb-4">
                    <a class=" btn btn-default primary-btn text-white" routerLink="/faq">Frequently Asked
                        Questions</a>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 contact-container">
                <div class="row col-md-12">
                    <div class="col-md-6 mb-4">
                        <div class="contact-div">
                            <div class="contact-img text-center">
                                <img src="assets/images/agency/contact/location.png" alt="">
                            </div>
                            <div class="contact-text text-center">
                                <h2>Movement Matter</h2>
                                <p>B-89, B-Block, Sec-44 Noida,Uttar Pradesh 201301</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="contact-div">
                            <div class="contact-img text-center">
                                <img src="assets/images/agency/contact/alarm-clock.png" alt="">
                            </div>
                            <div class="contact-text text-center">
                                <h2>Monday to Saturday</h2>
                                <p>9:30 AM - 6:00 PM Indian Standard Time</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="contact-div">
                            <div class="contact-img text-center">
                                <img src="assets/images/agency/contact/telephone-call.png" alt="">
                            </div>
                            <div class="contact-text text-center">
                                <h2>Phone Numbers</h2>
                                <p>+91 8287053044, +120 416 1329</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="contact-div">
                            <div class="contact-img text-center">
                                <img src="assets/images/agency/contact/email.png" alt="">
                            </div>
                            <div class="contact-text text-center">
                                <h2>Submit a request</h2>
                                <p>Connect with us</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 map">
        <iframe width="100%" height="400px" style="border: 0;"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3504.3957386704897!2d77.334872!3d28.557877!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x29d8d99be135993a!2sMovement%20Matters!5e0!3m2!1sen!2sin!4v1654364208477!5m2!1sen!2sin">
        </iframe>
    </div>
</section>

<app-agency-footer></app-agency-footer>
<app-agency-copyright></app-agency-copyright>