<!--header start-->
<!-- <section class="agency header" id="header">
    <div class="agency">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="center-text">
                    <div>
                        <div class="header-text">
                            <h1 class="text-black"><span class="bold-text">Find the right support. without the
                                    wait.</span> </h1>
                        </div>
                        <div class="header-sub-text">
                            <p>We help teams and organisations to become <br />
                                congruent to their thoughts and actions by <br />
                                increasing empathy and productivity
                            </p>
                        </div>
                        <div class="link-horizontal">
                            <ul>
                                <li>
                                    <a class=" btn btn-default primary-btn text-white" routerLink="/organisations">Are you an Organization?</a>
                                </li>
                                <li>
                                    <a class="btn btn-default btn-white" routerLink="/get-care">Are you an Individual?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/agency/slider/individual_img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section> -->

<section class="agency-header">
    <div class="agency">
        <div class="row">
            <div class="col-md-5 offset-md-1">
                <div class="center-text">
                    <div>
                        <div class="header-text">
                            <h1 class="text-black">
                                <span class="bold-text">Find the right support. without the wait.
                                </span>
                            </h1>
                            <p>Improve your mental health at home, at work and beyond with effective and affordable
                                solutions built for individuals and organisation that care
                            </p>
                        </div>
                        <div class="link-horizontal mt-4">
                            <a class=" btn btn-default primary-btn text-white" routerLink="/organisations">Are you an Organisation?</a>
                               
                             <a class="btn btn-default btn-white" routerLink="/get-care">Are you an Individual?</a>
                              
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="assets/images/agency/slider/individual_img.jpg" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</section>
<!--header end-->