<!--service app1 start-->

<div class="saas1 faq testimonial-bg p-t-150">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title2 title-inner text-center">
                    <div class="main-title">
                        <h3 class="letter-space text-uppercase main-text m-b-5">Benefits </h3>
                        <h2 class="font-black main-text m-b-0">Professional, licensed and vetted <br/> therpist who you can trust </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="app1 services bg">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="service service-overlay text-center" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="img-block">
                        <img src="../../assets/images/5.png" width="100px" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Powerful System</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service service-overlay text-center" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="img-block">
                        <img src="../../assets/images/5.png" width="100px" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Personalization</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="service service-overlay text-center" data-tilt="" data-tilt-max="6" data-tilt-speed="400"
                     data-tilt-perspective="500"
                     style="will-change: transform; transform: perspective(500px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);">
                    <div class="img-block">
                        <img src="../../assets/images/5.png" width="100px" alt="" class="service-img img-fluid">
                    </div>
                    <div class="service-feature">
                        <h4 class="feature-text text-center">Ease Of Access</h4>
                        <p>There are many variations of passages of Lorem Ipsum available, but the ma- jority have
                            suffered.</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service app1 end-->
