<div class="agency testimonial format mt-4 mb-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row facilitators">
                    <div class="col-md-5 core-faci">
                        <h2>Core Facilitators</h2>
                        <h4 class="mt-3 font-black">
                            People are what make the difference at movement matters
                        </h4>
                    </div>
                    <div class="col-md-7">
                        <!-- <ng-container *ngFor="let user of users">
                            <div class="col-md-12">
                                <div class="testimonial-container testimonial-container2 m-0">
                                    <div class="d-flex">
                                        <img [src]="user.img" alt="" class="img-fluid m-r-25">
                                        <div class="center-content">
                                            <h6 class="name">{{user.name}}</h6>
                                            <h6 class="post text-center  font-primary">{{user.designation}}</h6>
                                        </div>
                                    </div>
                                    <div class="testimonial-info">
                                        <p class="m-b-20 para2">{{user.review}}</p>
                                        <p class="m-b-20 para2">{{user.review}}</p>
                                    </div>
                                    <div class="m-b-20">
                                        <a class="btn btn-default btn-xs primary-btn text-white">View Profile</a>
                                    </div>
                                    <div class="primary-border"></div>
                                </div>
                            </div>
                        </ng-container> -->
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <div class="row">
                                        <div class="col-md-2 text-center">
                                            <div class="core-img text-center">
                                                <img src="../../../assets//images/saas1/brand/slider.jpg"
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="core-text">
                                                <h3>Mohita Singh</h3>
                                                <p class="mt-1">Occupational Health Safety Consultant</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="core-text1">
                                                <p>Mohita Singh is a Somatic & Expressive Movement Facilitator,
                                                    dedicated to enriching the physical and
                                                    emotional strength of people through Movement Therapy programs.
                                                    <br><br>Having experienced a long period of distress personally,
                                                    Mohita is the best example of how movement therapy
                                                    helps mind, body and soul to heal from past injuries. She
                                                    also believes that with a good physical foundation,
                                                    emotional and intellectual expression too become richer emotional
                                                    and intellectual.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <div class="row">
                                        <div class="col-md-2 text-center">
                                            <div class="core-img text-center">
                                                <img src="../../../assets//images/saas1/brand/slider.jpg"
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="core-text">
                                                <h3>Mohita Singh</h3>
                                                <p class="mt-1">Occupational Health Safety Consultant</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="core-text1">
                                                <p>Mohita Singh is a Somatic & Expressive Movement Facilitator,
                                                    dedicated to enriching the physical and
                                                    emotional strength of people through Movement Therapy programs.
                                                    <br><br>Having experienced a long period of distress personally,
                                                    Mohita is the best example of how movement therapy
                                                    helps mind, body and soul to heal from past injuries. She
                                                    also believes that with a good physical foundation,
                                                    emotional and intellectual expression too become richer emotional
                                                    and intellectual.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <div class="row">
                                        <div class="col-md-2 text-center">
                                            <div class="core-img text-center">
                                                <img src="../../../assets//images/saas1/brand/slider.jpg"
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="core-text">
                                                <h3>Mohita Singh</h3>
                                                <p class="mt-1">Occupational Health Safety Consultant</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="core-text1">
                                                <p>Mohita Singh is a Somatic & Expressive Movement Facilitator,
                                                    dedicated to enriching the physical and
                                                    emotional strength of people through Movement Therapy programs.
                                                    <br><br>Having experienced a long period of distress personally,
                                                    Mohita is the best example of how movement therapy
                                                    helps mind, body and soul to heal from past injuries. She
                                                    also believes that with a good physical foundation,
                                                    emotional and intellectual expression too become richer emotional
                                                    and intellectual.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="slide">
                                    <div class="row">
                                        <div class="col-md-2 text-center">
                                            <div class="core-img text-center">
                                                <img src="../../../assets//images/saas1/brand/slider.jpg"
                                                    class="img-fluid">
                                            </div>
                                        </div>
                                        <div class="col-md-10">
                                            <div class="core-text">
                                                <h3>Mohita Singh</h3>
                                                <p class="mt-1">Occupational Health Safety Consultant</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="core-text1">
                                                <p>Mohita Singh is a Somatic & Expressive Movement Facilitator,
                                                    dedicated to enriching the physical and
                                                    emotional strength of people through Movement Therapy programs.
                                                    <br><br>Having experienced a long period of distress personally,
                                                    Mohita is the best example of how movement therapy
                                                    helps mind, body and soul to heal from past injuries. She
                                                    also believes that with a good physical foundation,
                                                    emotional and intellectual expression too become richer emotional
                                                    and intellectual.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>