<!--agency content start-->
<section class="agency agency-content about-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-md-7">
                <div class="saas1 faq testimonial-bg">
                    <div class="container">
                        <div class="row">
                            <div class="title2 title-inner">
                                <div class="main-title">
                                    <h3 class="letter-space">About Us </h3>
                                    <h2 class="font-black main-text">Professional, licensed, and vetted therapist
                                        who you can trust
                                    </h2>

                                    <p class="p-text m-t-10">Movement matters is a experienced a long period of distress
                                        personally, Mohita is the
                                        best example of how movement therapy helps mind, body and soul to heal from past
                                        injuries. She also
                                        believes that with a good physical foundation, emotional and intellectual
                                        expression too become
                                        richer emotional and intellectual
                                    </p>
                                    <br>
                                    <p class="p-text m-t-10">Movement matters is a experienced a long period of distress
                                        personally, Mohita is the
                                        best example of how movement therapy helps mind, body and soul to heal from past
                                        injuries. She also
                                        believes that with a good physical foundation, emotional and intellectual
                                        expression too become
                                        richer emotional and intellectual
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-5">
                <div class="about-sec-img">
                    <img src="../../../../assets/images/agency/slider/home_about_img.png"  alt="">
                </div>
            </div>
        </div>
    </div>

</section>
<!--agency content end-->

<section class="agency format service-bg section1">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="center-text">
                    <div class="format-container">
                        <div class="format-head-text">
                            <h2 class="about-font-header letter-space">Why Us ?</h2>
                            <p class="about-para font-black">Professional, licensed, and vetted therapist who you can
                                trust</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 ">
                <div class="app2 services">
                    <div class="row service-box">
                        <div class="col-md-6 col-sm-12 service-container">
                            <div class="service service1">
                                <div class="service-feature">
                                    <h4 class="feature-text">Conventional <br>Therapy</h4>
                                    <ul class="about_points">
                                        <li style="border-top: 2px solid #000000;"></li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 service-container">
                            <div class="service service1">
                                <div class="service-feature">
                                    <h4 class="feature-text">Movement <br>Matters </h4>
                                    <ul class="about_points">
                                        <li style="border-top: 2px solid #000000;"></li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid">We help teams and organisation to become congruent
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>