<app-agency-nav></app-agency-nav>
<section class="p-t-150  pb-3">
    <section class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#" class="active">
                                        <i class="fa fa-angle-double-right"></i> Organisations</a>
                                </li>
                            </ul>
                        </div>
                        <div></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!--header start-->
<div class="agency">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="center-text">
                <div>
                    <div class="header-text">
                        <h1 class="text-black">
                            <span class="bold-text">Find the right support. without the wait.
                            </span>
                        </h1>
                        <p>Improve your mental health at home, at work and beyond with effective and affordable
                            solutions built for individuals and organisation that care
                        </p>
                    </div>
                    <div class="link-horizontal mt-4">
                        <a class=" btn btn-default primary-btn text-white" routerLink="/organisations">Are you an
                            Organisation?</a>
                        <a class="btn btn-default text-white btn-individual" routerLink="/get-care">Are you an Individual?</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/agency/slider/individual_img.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<!-- <div class="agency bg">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div>
                <div>
                    <div class="header-text m-b-30">
                        <h1>
                            <span class="text-black bold-text">Master of the economy of <br />
                                thought and action</span>
                        </h1>
                    </div>
                    <div class="header-sub-text m-b-30">
                        <p>We help teams and organisations to become <br />
                            congruent to their thoughts and actions by <br />
                            increasing empathy and productivity
                        </p>
                    </div>

                    <div class="link-horizontal">
                        <ul>
                            <li>
                                <a class=" btn btn-default primary-btn text-white">Request a demo</a>
                            </li>
                            <li>
                                <a class="btn btn-default btn-white ">Watch Video</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="../../assets/images/agency/slider/org_img.png" alt="" class="img-fluid">
        </div>
    </div>
</div> -->
<!--header end-->

<app-mm-clients></app-mm-clients>

<!--agency content start-->
<section class="agency agency-content about-bg">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-md-7">
                <div class="saas1 faq testimonial-bg">
                    <div class="container">
                        <div class="row">
                            <div class="title2 title-inner">
                                <div class="main-title">
                                    <h3 class="letter-space">Corporate Wellness</h3>
                                    <h6>The ‘Why’ and ‘How’</h6>
                                    <h2 class="font-black main-text">Professional, licensed, and vetted therapist
                                        who you can trust</h2>
                                    <p class="p-text m-t-10">Movement matters is a experienced a long period of distress
                                        personally, Mohita is the
                                        best example of how movement therapy helps mind, body and soul to heal from past
                                        injuries. She also
                                        believes that with a good physical foundation, emotional and intellectual
                                        expression too become
                                        richer emotional and intellectual
                                    </p>
                                    <br>
                                    <p class="p-text m-t-10">Movement matters is a experienced a long period of distress
                                        personally, Mohita is the
                                        best example of how movement therapy helps mind, body and soul to heal from past
                                        injuries. She also
                                        believes that with a good physical foundation, emotional and intellectual
                                        expression too become
                                        richer emotional and intellectual
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-5">
                <div class="about-sec-img">
                    <img src="../../../../assets/images/agency/slider/home_about_img.png" alt="">
                </div>
            </div>
        </div>
    </div>

</section>
<!--agency content end-->

<app-insta-gallery></app-insta-gallery>

<!--service app2 start-->
<section class="saas1 faq testimonial-bg section1">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="title2 title-inner">
                    <div class="main-title">
                        <h3 class="font-black main-text m-b-0">Our Signature Offering </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="app2 services">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 service-container">
                <div class="service service1">
                    <div class="service-feature">
                        <h4 class="feature-text">Posture Baithak</h4>
                        <p> Short video-based e-learning bytes of 5-15 minutes each from sadhguru. Incisive insights and
                            unique perspective to make one look witthin and trigger a journey of learning and
                            transformation</p>
                        <a class=" btn btn-default primary-btn text-white m-t-20">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 service-container">
                <div class="service service1">
                    <div class="service-feature">
                        <h4 class="feature-text">Unwind The Mind</h4>
                        <p> Short video-based e-learning bytes of 5-15 minutes each from sadhguru. Incisive insights and
                            unique perspective to make one look witthin and trigger a journey of learning and
                            transformation</p>
                        <a class=" btn btn-default primary-btn text-white m-t-20">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 service-container">
                <div class="service service1">
                    <div class="service-feature">
                        <h4 class="feature-text">Movementoring</h4>
                        <p> Short video-based e-learning bytes of 5-15 minutes each from sadhguru. Incisive insights and
                            unique perspective to make one look witthin and trigger a journey of learning and
                            transformation</p>
                        <a class=" btn btn-default primary-btn text-white m-t-20">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 service-container">
                <div class="service service1">
                    <div class="service-feature">
                        <h4 class="feature-text">Breathe Like A Monk, Think Like A KLing</h4>
                        <p> Short video-based e-learning bytes of 5-15 minutes each from sadhguru. Incisive insights and
                            unique perspective to make one look witthin and trigger a journey of learning and
                            transformation</p>
                        <a class=" btn btn-default primary-btn text-white m-t-20">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 service-container">
                <div class="service service1">
                    <div class="service-feature">
                        <h4 class="feature-text">Posture Baithak</h4>
                        <p> Short video-based e-learning bytes of 5-15 minutes each from sadhguru. Incisive insights and
                            unique perspective to make one look witthin and trigger a journey of learning and
                            transformation</p>
                        <a class=" btn btn-default primary-btn text-white m-t-20">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 service-container">
                <div class="service service1">
                    <div class="service-feature">
                        <h4 class="feature-text">Tighter Teams, Light Hearts</h4>
                        <p> Short video-based e-learning bytes of 5-15 minutes each from sadhguru. Incisive insights and
                            unique perspective to make one look witthin and trigger a journey of learning and
                            transformation</p>
                        <a class=" btn btn-default primary-btn text-white m-t-20">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--service app2 end-->

<app-agency-testimonial></app-agency-testimonial>

<!-- our program start -->
<section class="program">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="title2 title-inner">
                    <div class="main-title">
                        <h3 class="font-black main-text m-b-0">Our Program Benefits</h3>
                        <h4 class="font-black">What makes us unique from other <br>corporate wellness programs</h4>
                    </div>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-3 text-center">
                    <div class="program-img mb-3">
                        <img src="assets/images/bg-img/event-bg.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="program-img mb-3">
                        <img src="assets/images/bg-img/event-bg.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="program-img mb-3">
                        <img src="assets/images/bg-img/event-bg.jpg" class="img-fluid" alt="">
                    </div>
                </div>
                <div class="col-md-3 text-center">
                    <div class="program-img mb-3">
                        <img src="assets/images/bg-img/event-bg.jpg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- our program end -->

<!-- agency counter start -->
<section class="agency counter counter-bg" style="background-color: #8fc0a9;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 counter-container  m-t-40 ">
                <div class="main-title">
                    <h2 class="text-capitalize m-b-20 text-white">Statistics </h2>
                </div>
                <div class="sub-title">
                    <p class="text-white">What makes us  <br>unqiue</p>
                </div>
            </div>

            <div class="col-md-8 col-sm-8 counter-container">
                <div class="row">
                    <div class="col-md-4 col-sm-4" *ngFor="let data of counter">
                        <div class="counters hover-counter">
                            <img [src]="data.img" alt="" class="img-fluid counter-img">
                            <div class="counter-text">
                                <div class="count-number">
                                    <h2 class="counts text-center text-white">{{data.count}}</h2>
                                </div>
                                <div class="count-desc">
                                    <h5 class="text-center text-white">{{data.text}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- agency counter end -->

<app-mm-facilitators></app-mm-facilitators>

<app-agency-footer></app-agency-footer>

<app-agency-copyright></app-agency-copyright>

<!--accordion1 section start-->
<!-- <section class="saas1 faq testimonial-bg">
    <div class="container">
        <div class="row">
            <div class="col-12  text-center">
                <div class="title2 title-inner">
                    <div class="main-title">
                        <h3 class="letter-space text-uppercase main-text m-b-5">Contact Us </h3>
                        <h2 class="font-black main-text m-b-0">Get free consultation </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<!--accordion1 section end-->
<!-- <section class="music bg-footer p-t-50">
    <div class="container">
        <div class="col-md-8 offset-md-2">
            <div class="contact-form">
                <div class="form form-footer p-t-10">
                    <div class="row">
                        <div class="col-sm-12">
                            <p class="font-primary p-t-20 p-b-20">Upskill your team - Request free demo Today!
                            </p>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group ">
                                <select class="bg-light-inner" placeholder="How many employee need training">
                                    <option>How many employees need training ?</option>
                                    <option>10</option>
                                    <option>20</option>
                                    <option>30</option>
                                    <option>50</option>
                                    <option>100</option>
                                    <option>100+</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group ">
                                <input type="text" class="bg-light-inner" placeholder="first name">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input type="text" class="bg-light-inner" placeholder="last name">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="bg-light-inner" placeholder="your email">
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" class="bg-light-inner" placeholder="your phone number">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <textarea class="form-control" class="bg-light-inner" rows="6"
                                    placeholder="your message"></textarea>
                            </div>
                        </div>
                        <div class="booking">
                            <a class="btn btn-default primary-btn radius-0">send</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->