<section class="agency format service-bg p-10 m-b-20" style="background-color: #8fc0a9;">
    <div class="saas1 faq testimonial-bg">
        <div class="container">
            <div class="row col-md-12">
                <div class="col-12">
                    <div class="title2 title-inner text-center m-t-30">
                        <div class="main-title">
                            <h3 class="letter-space text-uppercase font-white mb-3">Takeways </h3>
                            <h2 class="font-white main-text m-b-0">Professional, Licenced, and vetted <br />Therapist
                                who you can trust 
                            </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="m-t-20">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="my-container">
                        <div class="row">
                        <div class="col-md-4 col-sm-6 text-center">
                            <img src="../../../assets//images/saas1/brand/1.png" />
                        </div>
                        <div class="col-md-8 col-sm-6">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusm od tempor incididunt
                                ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusm od tempor incididunt
                                ut labore et dolore magna aliqua ut enim adminim veni am for humanity forLorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusm od tempor incididunt
                                ut labore et dolore magna aliqua ut enim adminim veni am for humanity for
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusm od tempor incididunt
                                
                            </p>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div> -->
    <div class="slider-takeway">
        <div class="container">
            <div class="row slider-take">
                <div class="col-md-12 col-sm-12">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div class="take-img text-center">
                                            <img src="../../../assets//images/saas1/brand/slider.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="take-text">
                                            <p>Movement matters is a experienced a long period of distress personally,
                                                Mohita is the
                                                best example
                                                of how movement therapy helps mind, body and soul to heal from past
                                                injuries. She
                                                also believes
                                                that with a good physical foundation, emotional and intellectual expression
                                                too
                                                become richer
                                                emotional and intellectual.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div class="take-img text-center">
                                            <img src="../../../assets//images/saas1/brand/slider.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="take-text">
                                            <p>Movement matters is a experienced a long period of distress personally,
                                                Mohita is the
                                                best example
                                                of how movement therapy helps mind, body and soul to heal from past
                                                injuries. She
                                                also believes
                                                that with a good physical foundation, emotional and intellectual expression
                                                too
                                                become richer
                                                emotional and intellectual.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div class="take-img text-center">
                                            <img src="../../../assets//images/saas1/brand/slider.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="take-text">
                                            <p>Movement matters is a experienced a long period of distress personally,
                                                Mohita is the
                                                best example
                                                of how movement therapy helps mind, body and soul to heal from past
                                                injuries. She
                                                also believes
                                                that with a good physical foundation, emotional and intellectual expression
                                                too
                                                become richer
                                                emotional and intellectual.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="slide">
                                <div class="row">
                                    <div class="col-md-3 text-center">
                                        <div class="take-img text-center">
                                            <img src="../../../assets//images/saas1/brand/slider.jpg" class="img-fluid">
                                        </div>
                                    </div>
                                    <div class="col-md-9">
                                        <div class="take-text">
                                            <p>Movement matters is a experienced a long period of distress personally,
                                                Mohita is the
                                                best example
                                                of how movement therapy helps mind, body and soul to heal from past
                                                injuries. She
                                                also believes
                                                that with a good physical foundation, emotional and intellectual expression
                                                too
                                                become richer
                                                emotional and intellectual.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                    <div class="owl-theme">
                        <div class="owl-controls">
                            <div class="custom-nav owl-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>