<!--footer start-->

<footer class="agency footer2">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 set-first">
                <div class="logo-sec">
                    <div class="footer-title mobile-title">
                        <h3 class="text-white">Movement Matters</h3>
                    </div>
                    <div class="footer-contant">
                        <h5 class="footer-headings">Movement Matters</h5>
                        <div class="footer-para">
                            <h6 class="text-white para-address m-b-10">
                                Studio is a Somatic & Expressive Movement Facilitator, dedicated to enriching the
                                physical and emotional strength of people through Movement physical and emotional
                            </h6>
                            <!-- <h6 class="text-white para-address">B-89, B Block, Sector 44, </h6>
                            <h6 class="text-white para-address"> Noida, Uttar Pradesh 201301.</h6>
                            <h6 class="text-white para-address"><i class="fa fa-whatsapp" aria-hidden="true"></i> +91
                                99534 72746</h6> -->
                            <ul class="d-d-flex footer-social social">
                                <li class="footer-social-list">
                                    <a href="https://www.facebook.com/CMTmohitasingh" target="_blank">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.youtube.com/channel/UCRFQBCEadNXcFRp9-l4-c1Q/featured"
                                        target="_blank">
                                        <i class="fa fa-youtube" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.linkedin.com/in/movement-matters" target="_blank">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="footer-social-list">
                                    <a href="https://www.instagram.com/movementmattersstudio/" target="_blank">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-1"></div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">Discover</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings headings1">Discover</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="#/wisdom">Wisdom</a>
                            </li>
                            <li class="">
                                <a href="#/glossary">Glossary </a>
                            </li>
                            <li class="">
                                <a href="#">Events</a>
                            </li>
                            <li class="">
                                <a routerLink="#/faq">FAQs</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">For Individuals</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings headings1">For Individuals</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="#">Posture Baithak</a>
                            </li>
                            <li class="">
                                <a href="#">Somatic Movement Therapy </a>
                            </li>
                            <li class="">
                                <a href="#">Expressive Movement Therapy </a>
                            </li>
                            <li class="">
                                <a href="#">Posture Audit </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">For Corporate</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings headings1">For Corporate</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="#">Posture Baithak</a>
                            </li>
                            <li class="">
                                <a href="#">Movementoring </a>
                            </li>
                            <li class="">
                                <a href="#">Unwind the mind</a>
                            </li>
                            <li class="">
                                <a href="#">Start of Team Building</a>
                            </li>
                            <!-- <li class="">
                                <a href="#">Tighter Teams, Lighter Hearts</a>
                            </li>
                            <li class="">
                                <a href="#">Breathe Like a Monk, Think Like a King</a>
                            </li> -->

                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="footer-title mobile-title">
                    <h3 class="text-white">About</h3>
                </div>
                <div class="footer-contant">
                    <h5 class="footer-headings headings1">About</h5>
                    <div>
                        <ul class="footer-lists op-text">
                            <li class="">
                                <a href="#/about-us">About Us</a>
                            </li>
                            <li class="">
                                <a href="#">Teams </a>
                            </li>
                            <li class="">
                                <a href="#/discover">Discover</a>
                            </li>
                            <li class="">
                                <a href="#/contact-us">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--footer end-->
    </div>
</footer>
<!-- <div id="contact" class="agency saas1 subscribe">
    <div class="container">
        <div class="border-footer">
            <div class="row">
                <div class="col-lg-4">
                    <div class="media">
                        <div class="media-body">
                            <h3 class="mt-0 text-white">Stay in Know</h3>
                            <h6 class="text-white">Get Monthly newsletter right in your inbox.
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="subscribe-input">
                        <form>
                            <input id="useremail" type="email" placeholder="This Field is Required" required="">
                            <input id="submit" type="submit" value="subscribe">
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 ">
                    <ul class="d-d-flex footer-social social">
                        <li class="footer-social-list">
                            <a href="https://www.facebook.com/CMTmohitasingh" target="_blank"><i class="fa fa-facebook"
                                    aria-hidden="true"></i></a>
                        </li>
                        <li class="footer-social-list">
                            <a href="https://www.youtube.com/channel/UCRFQBCEadNXcFRp9-l4-c1Q/featured"
                                target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer-social-list">
                            <a href="https://www.linkedin.com/in/movement-matters" target="_blank"><i
                                    class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                        <li class="footer-social-list">
                            <a href="https://www.instagram.com/movementmattersstudio/" target="_blank"><i
                                    class="fa fa-instagram" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!--footer end-->
<app-tap-to-top></app-tap-to-top>