<!--service section start-->
<section class="agency format service-bg" id="features">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="center-text">
                    <div>
                        <!-- <h6 class="borders-before text-uppercase">
                            <span class="">Our services</span>
                        </h6> -->
                        <h2 class="service-title">Services</h2>
                        <div class="format-head-text">
                            <h2 class="about-font-header service-heading">Want to take your
                                <span class="block-span">organisation to the next</span>
                                <span class="block-span">level?</span>
                            </h2>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Movement matters is a experienced a long period of distress
                                personally,
                                Mohita is the best example of how movement therapy helps mind, body and soul to heal
                                from
                                past injuries.
                            </p>
                        </div>
                        <div class="saas1 subscribe" style="background: transparent">
                            <div class="subscribe-input">
                                <form>
                                    <!-- <input id="useremail" type="email" placeholder="Choose an Issue" required=""> -->
                                    <select id="services" name="services" class="service-drop">
                                        <option value="Choose an service">Choose an Service</option>
                                        <option value="service1">service1</option>
                                        <option value="service2">service2</option>
                                        <option value="service3">service3</option>
                                        <option value="service4">service4</option>
                                    </select>
                                    <input id="submit" type="submit" value="Learn More">
                                </form>
                            </div>
                        </div>
                        <!-- <a href="#" class="btn btn-default primary-btn text-white">view more</a> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-sm-6 center-content unset-height p-0">
                        <ul class="icon-collection"
                            [@fadeInRight]="{ value: fadeInRight, params: { timing: 3, delay: 2 } }">
                            <li class="about-icon">
                                <a href="#" class="text-left">
                                    <h5 class="list-title">Posture Baithak</h5>
                                    <p class="list-text">
                                        Movement matters is a experienced a long period of distress personally,
                                    </p>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="text-left">
                                    <h5 class="list-title">Unwind The Mind</h5>
                                    <p class="list-text">
                                        Movement matters is a experienced a long period of distress personally,
                                    </p>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="text-left">
                                    <h5 class="list-title">Start of team building </h5>
                                    <p class="list-text">
                                        Movement matters is a experienced a long period of distress personally,
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 center-content unset-height p-0">
                        <ul class="icon-collection"
                            [@fadeInRight]="{ value: fadeInRight, params: { timing: 3, delay: 2 } }">
                            <li class="about-icon">
                                <a href="#" class="text-left">
                                    <h5 class="list-title">Breathe Like a monk, think Like a King </h5>
                                    <p class="list-text">
                                        Movement matters is a experienced a long period of distress personally,
                                    </p>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="text-left">
                                    <h5 class="list-title">Posture Baithak</h5>
                                    <p class="list-text">
                                        Movement matters is a experienced a long period of distress personally,
                                    </p>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="text-left">
                                    <h5 class="list-title">Tighter heams, Lighter hearts
                                    </h5>
                                    <p class="list-text">
                                        Movement matters is a experienced a long period of distress personally,
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-8 col-md-8">
                <div class="row">
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection"
                            [@fadeInRight]="{ value: fadeInRight, params: { timing: 3, delay: 0 } }">
                            <li class="about-icon">
                                <a href="#" class="center-content"><img src="assets/images/agency/service/1.png" alt="">
                                    <h5>Posture Baithak</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection"
                            [@fadeInRight]="{ value: fadeInRight, params: { timing: 3, delay: 2 } }">
                            <li class="about-icon">
                                <a href="#" class="center-content"><img src="assets/images/agency/service/2.png" alt="">
                                    <h5>Movementoring</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="center-content"><img src="assets/images/agency/service/3.png" alt="">
                                    <h5> Somatic & Expressive movement therapy </h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 center-content unset-height">
                        <ul class="icon-collection"
                            [@fadeInRight]="{ value: fadeInRight, params: { timing: 3, delay: 3 } }">
                            <li class="about-icon">
                                <a href="#" class="center-content"><img src="assets/images/agency/service/4.png" alt="">
                                    <h5>Tighter Teams, Lighter Hearts</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="center-content"><img src="assets/images/agency/service/5.png" alt="">
                                    <h5>St(Art) of Team Building</h5>
                                </a>
                            </li>
                            <li class="about-icon">
                                <a href="#" class="center-content"><img src="assets/images/agency/service/6.png" alt="">
                                    <h5>Unwind the mind</h5>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>
<!--service section end-->