<!-- achieve section start -->
<section class="achieve">
    <div class="container">
        <div class="col-md-12">
            <div class="row achieve-row">
                <div class="col-md-12 mb-3">
                    <div class="achieve-heading">
                        <h2>Achieve</h2> 
                        <h2>outstanding</h2>
                        <h2>results with Mollie</h2>
                    </div>
                </div>
                <div class="col-md-4 achieve-div">
                    <div class="achieve-sec">
                        <div class="achieve-sec-text">
                            <h2>$5b +</h2>
                            <h6>Equity Value</h6>
                            <p>More than $5b USD in equity value created</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 achieve-div">
                    <div class="achieve-sec">
                        <div class="achieve-sec-text">
                            <h2>932</h2>
                            <h6>Ventures</h6>
                            <p>We’ve built, invested in and accelerated hundreds of ventures, globally</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 achieve-div">
                    <div class="achieve-sec">
                        <div class="achieve-sec-text">
                            <h2>18+</h2>
                            <h6>International Partners</h6>
                            <p>Working with us to solve big challenges</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- achieve section end -->

<!-- mission vission section Start-->
<!-- <section class="gym format">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="text-center center-content">
                    <div class="about-img">
                        <div class="borders-around">
                            <div>
                                <div class="bg-black"></div>
                            </div>
                            <img src="assets/images/bg-img/bg.jpg" alt="" class="img-fluid format-img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" center-text">
                    <div>
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">Why us</h3>
                        </div>
                        <div class="format-sub-text">
                            <p class="p-light about-para">
                                "We are in the world as much as we are in our bodies." 
                            </p>
                            <div class="sub-heading">
                                <h4> Mission</h4>
                            </div>
                            <p class="p-light about-para">
                                To bring about a revolution that “Movement Matters”.</p>
                            <div class="sub-heading">
                                <h4> Vision </h4>
                            </div>
                            <p class="p-light about-para">The art and science of using our bodies and mind should be a part of our everyday life.</p>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-default primary-btn">BOOK WORKOUT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="mis-vis">
    <div class="container">
        <div class="row">
            <div class="col-md-6 mis-sec">
                <div class="mission">
                    <div class="mission-img">
                        <img src="assets/images/mis-vis.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="mission-text">
                        <h2>Our Mission</h2>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo
                            risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed
                            consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 vis-sec">
                <div class="vission">
                    <div class="vission-img">
                        <img src="assets/images/mis-vis.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="vission-text">
                        <h2>Our vission</h2>
                        <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo
                            risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed
                            consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- mission vission section end-->