.our-values h2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 58px;
    color: #000000;
}

.value-row {
    background-color: #FFF2F7;
    border-radius: 20px;
    padding: 50px;
}

.values-sec-img {
    width: 80px;
}

.values-sec-img img {
    border-radius: 50%;
}

.values-sec-text p {
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
    color: #000000;
    padding-top: 20px;
}