<!--values css start-->
<!-- <section class="saas2 bg-gradient quick-sol" [ngStyle]="{'background-image': 'url(assets/images/why-us/quick-sol.png)'}">
    <div class="container set-center-div">
        <div class="row">
            <div class="col-lg-6">
                <div class="offers-container">
                    <h3 class="text-white offer-heading-text">We Offer Quick & Powerful
                        Business Solution</h3>
                    <div class="bottom-border">
                    </div>
                    <div class="offers-content" *ngFor="let data of business">
                        <div class="d-flex">
                            <i class="fa fa-check-circle" aria-hidden="true"></i>
                            <div>
                                <h4 class="offer-main-text text-white">{{data.title}}</h4>
                                <p class="offer-sub-text text-white">{{data.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="center-text side-img">
                <img alt="" src="assets/images/why-us/img.png" class="img-fluid" data-tilt data-tilt-max="3"
                     data-tilt-speed="400" data-tilt-perspective="500">
            </div>
        </div>
    </div>
  </section> -->

<section class="values">
    <div class="container">
        <div class="col-md-12">
            <div class="row value-row">
                <div class="col-md-12 mb-3">
                    <div class="our-values">
                        <h2>Our Values</h2>
                    </div>
                </div>
                <div class="col-md-3 val-sec mt-2">
                    <div class="values-sec">
                        <div class="values-sec-img">
                            <img src="assets/images/mis-vis.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="values-sec-text">
                            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 val-sec mt-2">
                    <div class="values-sec">
                        <div class="values-sec-img">
                            <img src="assets/images/mis-vis.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="values-sec-text">
                            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 val-sec mt-2">
                    <div class="values-sec">
                        <div class="values-sec-img">
                            <img src="assets/images/mis-vis.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="values-sec-text">
                            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 val-sec mt-2">
                    <div class="values-sec">
                        <div class="values-sec-img">
                            <img src="assets/images/mis-vis.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="values-sec-text">
                            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--values css end-->