<app-agency-nav></app-agency-nav>
<!-- <div class="p-t-150">
    <div class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Discover</a></li>
                                <li><a href="#" class="active"><i class="fa fa-angle-double-right"></i> Glossary</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="p-t-150">
    <div class="breadcrumb-section-main inner-3">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb-contain">
                        <div>
                            <ul>
                                <li><a href="#/home">Home</a></li>
                                <li><a href="#"><i class="fa fa-angle-double-right"></i>Discover</a></li>
                                <li><a href="#" class="active"><i class="fa fa-angle-double-right"></i>Posture
                                        Baithak</a>
                                </li>
                            </ul>
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--header start-->
<div class="agency">
    <div class="row">
        <div class="col-md-5 offset-md-1">
            <div class="center-text">
                <div>
                    <div class="header-text">
                        <h1 class="text-black">
                            <span class="bold-text">Posture Baithak</span>
                        </h1>
                        <p>We help teams and organisation to become congruent to their thoughts and action by increasing
                            empathy and productivity
                        </p>
                    </div>
                    <div class="link-horizontal mt-4">
                        <a class=" btn btn-default primary-btn text-white" routerLink="/organisations">Get Connected</a>
                        <a class="btn btn-default btn-white" routerLink="/get-care">Watch Video</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="assets/images/agency/slider/individual_img.jpg" alt="" class="img-fluid">
        </div>
    </div>
</div>
<!--header end-->

<!-- program overview start -->
<section class="program">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 program-container  m-t-40 ">
                <div class="main-title">
                    <h2 class="text-capitalize m-b-20 ">Program Overview</h2>
                    <h6>Professional, licensed, and vetted therapist who you can trust</h6>
                </div>
                <div class="sub-title">
                    <p class="">Movement matters is a experienced a long period of distress personally,
                        Mohita is the best example of how movement therapy
                        helps mind, body and soul to heal from past injuries. She
                        also believes that with a good physical foundation,
                        emotional and intellectual expression too become richer emotional and intellectual.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 program-container1">
                <div class="row col-md-12">
                    <div class="col-md-6 mb-4">
                        <div class="program-div">
                            <div class="program-img text-center">
                                <img src="assets/images/agency/contact/location.png" alt="">
                            </div>
                            <div class="program-text text-center">
                                <h2>27 Courses</h2>
                                <p>Consisting of over 1890+ lessons</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="program-div">
                            <div class="program-img text-center">
                                <img src="assets/images/agency/contact/alarm-clock.png" alt="">
                            </div>
                            <div class="program-text text-center">
                                <h2>40+ interactive exercises</h2>
                                <p>Learn by doing with guided simulations</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="program-div">
                            <div class="program-img text-center">
                                <img src="assets/images/agency/contact/telephone-call.png" alt="">
                            </div>
                            <div class="program-text text-center">
                                <h2>New courses monthly</h2>
                                <p>On need-to-know subject matter</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-4">
                        <div class="program-div">
                            <div class="program-img text-center">
                                <img src="assets/images/agency/contact/email.png" alt="">
                            </div>
                            <div class="program-text text-center">
                                <h2>Blockchain certificate</h2>
                                <p>To verify your skills</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- program overview end -->

<!-- program benefits start -->
<section class="agency format service-bg section1">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="center-text">
                    <div class="format-container">
                        <div class="format-head-text">
                            <h2 class="about-font-header letter-space">Benefits</h2>
                            <p class="about-para font-black">Professional, licensed, and vetted therapist who you can
                                trust</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 ">
                <div class="app2 services">
                    <div class="row service-box">
                        <div class="col-md-6 col-sm-12 service-container">
                            <div class="service service1">
                                <div class="service-feature">
                                    <h4 class="feature-text">Benefits for<br>Organisations</h4>
                                    <ul class="about_points">
                                        <li style="border-top: 2px solid #000000;"></li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 service-container">
                            <div class="service service1">
                                <div class="service-feature">
                                    <h4 class="feature-text">Benefits for<br>Individuals </h4>
                                    <ul class="about_points">
                                        <li style="border-top: 2px solid #000000;"></li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                        <li><img src="../../../../assets/images/agency/slider/security.png" alt=""
                                                class="img-fluid img-fluid1"> We help teams and organisation to become
                                            congruent
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- program benefits end -->

<!-- learning objectives start -->
<section class="learning section1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="learning-row text-center">
                    <h2>Learning Objective</h2>
                    <p>Professional, licensed, and vetted <br>
                        therapist who you can trust</p>
                </div>
            </div>
            <div class="col-md-5">
                <div class="learning-img">
                    <img src="assets/images/bg-img/event-bg.jpg" alt="" class="img-fluid">
                </div>
            </div>
            <div class="col-md-7">
                <div class="learning-accordion">
                    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                        <!-- <ngb-panel title="DataTransformation">
                            <ng-template ngbPanelContent>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap
                            </ng-template>
                        </ngb-panel> -->
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <h2 class="accordion-title">Data Transformation</h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <h2 class="accordion-title">Data Transformation</h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <h2 class="accordion-title">Data Transformation</h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <h2 class="accordion-title">Data Transformation</h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap
                            </ng-template>
                        </ngb-panel>
                        <ngb-panel>
                            <ng-template ngbPanelTitle>
                                <h2 class="accordion-title">Data Transformation</h2>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                                has been the industry's standard dummy text ever since the 1500s, when an unknown
                                printer took a galley of type and scrambled it to make a type specimen book. It has
                                survived not only five centuries, but also the leap
                            </ng-template>
                        </ngb-panel>
                        
                    </ngb-accordion>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- learning objectives start -->

<app-agency-testimonial></app-agency-testimonial>

<!-- calender start -->
<section class="calender">
    <div class="container">
        <div class="row">
            <div class="calender-row col-md-12">

            </div>
        </div>
    </div>
</section>
<!-- calender end -->

<!-- <app-dictionary></app-dictionary>
<app-book-demo></app-book-demo> -->
<app-agency-footer></app-agency-footer>
<app-agency-copyright></app-agency-copyright>