<!-- about section Start-->
<!-- <section class="gym format">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="center-text">
                    <div class="text-center">
                        <div class="format-head-text">
                            <h3 class="about-font-header gradient-text">about us</h3>
                        </div>
                        <div class="format-sub-text mb-0">
                            <p class="p-light about-para">
                                Movement Matters is a wellness initiative dedicated to enhancing the mental and physical well-being of our society by teaching simple things like adopting better posture, using natural breathing techniques and efficient emotional habits in daily life.   
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 about-cont mt-4 ">
                <div class="about-title mb-4">
                    <h2>Movement Matters </h2>
                    <p class="mt-2">An Interdisciplinary <br>Approach to Wellness</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-text">
                    <p>
                        Movement matters is a experienced a long period of distress personally,
                        Mohita is the best example of how movement therapy
                        helps mind, body and soul to heal from past injuries. She
                        also believes that with a good physical foundation,
                        emotional and intellectual expression too become richer emotional and intellectual.
                        <br>
                        <br>
                        Movement matters is a experienced a long period of distress personally,
                        Mohita is the best example of how movement therapy
                        helps mind, body and soul to heal from past injuries. She
                        also believes that with a good physical foundation,
                        emotional and intellectual expression too become richer emotional and intellectual.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end-->