<section class="agency format service-bg p-10" id="features" style="padding: 60px 0px 140px 0px"
    [ngStyle]="{'background-image': 'url(../../assets/images/agency/slider/org_background.png)'}">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="center-text">
                    <div class="format-container">
                        <div class="format-head-text">
                            <h2 class="about-font-header">Want to take you <span class="block-span">
                                    organisation to the next level?</span></h2>
                        </div>
                        <div class="format-sub-text">
                            <p class="about-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt.Lorem ipsum dolor sit amet, consectetur adipiscing
                                elit,
                                sed do eiusmod tempor incididunt.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <a class=" btn btn-default primary-btn radius-0 text-white" href="/request-a-demo">Request a demo</a>
            </div>
        </div>  
    </div>
</section>